*{
    margin: 0;
padding: 0;
box-sizing: border-box;
}

input{
    margin: 20px;
 width: 500px;
 height: 100px;
 text-align: center;
 border: 5px solid rgb(255, 119, 0);
background-color: rgba(135, 134, 134, 0.34);
font-size: larger;
}
body{
	box-sizing:border-box;
	display: flex;
	justify-content: center;
	padding-top: 50px;
}
